body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  width: 120%;
  border-radius: 5px;
  margin-top: 40px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(239, 241, 243);
  padding: 10px;
}
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-text {
  font-size: 2.5rem; /* Larger font size */
  color: #333; /* Dark grey color */
  text-align: center; /* Centered text */
  font-weight: 700;
  width: 60%;
}

.heading-button {
  margin-left: auto;
  width: 60%;
}
input {
  margin: 5px;
}
th {
  padding-right: 15px;
}
td {
  margin: 5px;
}
.btn {
  width: 60px;
}
.btn:hover {
  scale: 120%;
  box-shadow: 0 8px 8px rgba(72, 72, 72, 0.1);
}
.add-button {
  width: 7rem;
}

.error-message {
  color: red;
  font-size: small;
  margin-left: 5px;
}
