body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #415a77;
}
.container {
  width: 100%;
  border-radius: 5px;
  margin-top: 40px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #778da9;
}

.user-card {
  width: 400px;
}

.card {
  background-color: #e0e1dd;
  height: 170px;
}

input {
  margin-bottom: 5px;
}
.form-container {
  width: 35rem;
}
.btn:hover {
  scale: 110%;
  box-shadow: 0 8px 8px rgba(72, 72, 72, 0.1);
}

.error-message {
  color: red;
  font-size: small;
  margin-left: 5px;
  margin-bottom: 2px;
}
.card-container {
  margin-left: 3rem;
}
@media only screen and (max-width: 543px) {
  .user-card {
    width: 100%;
  }
  .shimmer-card {
    width: 100%;
    flex-direction: column;
  }
  .form-container {
    width: 100%;
  }
  .card-container {
    margin-left: 0.5rem;
  }
}
@media only screen and (min-width: 544px) and (max-width: 992px) {
  .user-card {
    width: 100%;
  }
  .shimmer-card {
    width: 45%;
    flex-direction: column;
  }
  .form-container {
    width: 32rem;
  }
  .card-container {
    margin-left: 0.5rem;
  }
}
