body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #415a77;
}
.container {
  width: 100%;
  border-radius: 5px;
  margin-top: 40px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  /* background-color: rgba(226, 220, 226, 0.672);
   */
  padding: 10px;
  background-color: rgb(158, 206, 232);
  background-color: #778da9;
}

.user-card {
  border-radius: 4px;

}

.card {
  background-color: #e0e1dd;
}

.heading-button {
  margin-left: auto;
  width: 60%;
}
input {
  margin-bottom: 5px;

}


.btn:hover {
  scale: 110%;
  box-shadow: 0 8px 8px rgba(72, 72, 72, 0.1);
}
.add-button {
  width: 7rem;
}

.error-message {
  color: red;
  font-size: small;
  margin-left: 5px;
}
